@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;400;500;700&display=swap');
*{ box-sizing:border-box;}
a, a:hover{ text-decoration:none;}
.clear{ clear:both;}
.img-res{ max-width:100%;}
body{font-family: 'Yantramanav', sans-serif; font-weight:400; font-size:16px; margin:0; padding:0;}
html{ height:100%;}

.header_top_wra{ background:#383838; }
.header_top{ max-width:1200px; margin:0 auto;padding:5px 10px; text-align:right;}

.header_outer{}
.header_wra{ padding:15px 10px;max-width:1200px; margin:0 auto; transition:all ease .5s;z-index: 10;position: inherit;}
.logo{ float:left;}
.logo img{ height:100px;}
.header_right{ float:right; text-align:right;padding-top:40px;}
.call{ display:inline-block;margin:0 5px; color:#fff;}
.call i{ margin-right:3px;}
.call .fa-mobile{ font-size:20px; vertical-align:middle;}
.call a, .call a:focus{ background:#ebb406; color:#fff; padding:3px 12px; display:inline-block; border-radius:4px;}
.call a:hover{ background:#fff; color:#000;}

.virtual{ display:inline-block; margin-right:15px;}
.virtual a, .virtual a:focus{ color:#fff;}
.virtual a:hover{ color:#ebb406;}

.nav_wra{max-width:1200px; margin:0 auto;padding:5px 10px;}
.nav_wra ul{ margin:0; padding:0; list-style:none;}
.nav_wra li{ display:inline-block; font-size:19px;font-weight:500; text-transform:uppercase;position:relative;}
.nav_wra li a, .nav_wra li a:focus{  padding:10px 15px; display:inline-block;color:#000;}
.nav_wra li a:hover{ color:#0093dd; }
.nav_wra li a.active{color:#0093dd;}

.nav_wra li ul{ position:absolute; z-index:10; top:42px; right:15px; padding:5px 0; background:#fff; display:none; box-shadow:0 1px 2px #ccc; transition:all ease .5s;}
.nav_wra li ul li{ display:block;}
.nav_wra li ul a, .nav_wra li ul a:focus{ font-size:18px; padding:10px 15px; display:block; white-space:nowrap;}
.nav_wra li:hover ul{ display:block; transition:all ease .5s;}
.show{ display:block !important;}

.menu_icon{ display:none;}

.banner_home{margin-bottom:-6px; }


.call_row_wra{ background:url(../images/black.jpg);}
.call_row{max-width:1200px; margin:0 auto; padding:0; color:#fff;}
.call_box{ width:33.3%; float:left; padding:40px 10px;}
.call_box a, .call_box a:focus, .call_box a:hover{ color:#fff;}
.call_box h3{ font-size:45px; font-weight:500; margin:0 0 0px 0;}
.call_box p{ font-size:22px; font-weight:400; margin:10px 0 0px 0;}
.call_box tr td:first-child{ font-size:30px; vertical-align:top; width:70px;}
.call_box tr td{ line-height:32px;}
.dark{ background:#00000054;}
.light{ background:#cccccc14;}

.ready_wra{ max-width:1200px; margin:0 auto; padding:60px 10px;}
.ready_wra td{ width:50%;}
.ready_wra h2{ font-size:40px; margin:0 0 20px 0;}
.ready_wra p{ font-size:18px; line-height:30px; color:#666;}
.ready_wra a, .ready_wra a:focus{ background:#0093dd; color:#fff; font-size:20px; padding:10px 25px; display:inline-block; border-radius:4px;}
.ready_wra a:hover{ background:#ebb406; color:#fff;}

.number_outer{background:url(../images/black.jpg);}
.number_wra{max-width:1200px; margin:0px auto;padding:30px 10px; color:#fff; text-align:center;}
.number_wra h2{ font-size:38px; margin:0;}
.number_wra h4{ font-size:21px; margin:0; font-weight:400;}
.number_wra p{ font-size:32px; font-weight:600;color:#ffbe00; margin:10px 0 0 0;}
.number_wra span{ color:#ffbe00;}

.package_home_wra{max-width:1200px; margin:0px auto;padding:60px 0px 80px 0px;}
.package_home_wra h2{ font-size:42px; color:#0093dd; text-align:center; margin:0 0 30px 0; text-transform:uppercase;}
.package_home_wra h3{ color:#383838; font-size:25px; font-weight:500; margin:10px 0;}
.package_home_wra h4{ color:#0093dd; font-size:24px;  margin:0px 0;}
.package_home_wra h4 span{color:#8d8d8d;font-size:20px; font-weight:400;}
.package_home_wra td{ width:50%; padding:0 15px; vertical-align:top;}
.book{ background:#0093dd; color:#fff;font-size:20px; padding:8px 25px; display:inline-block; margin-top:30px; border-radius:4px;}

.testimonial_wra{ background:#000 url(../images/testimonial_bg.jpg) center; background-size:cover;padding:60px 15px; color:#fff; text-align:center;}
.testimonial{max-width:900px; margin:0 auto;}
.testimonial_wra h2{font-size:45px;  margin:0 0 30px 0; color:#ffbe00;}
.star{ display:block; color:#ffbe00; font-size:16px; padding:10px 0;}
.testimonial li{ font-size:19px; line-height:30px; font-weight:300;}
.testimonial li span{ display:block; margin-top:40px; color:#ffbe00; font-weight:400;}

.address_home_outer{ background:#ffbe00;}
.address_home_wra{max-width:1200px; margin:0px auto;padding:60px 0px 80px 0px;}
.address_home_wra h2{ font-size:40px; color:#333; margin:0 0 20px 0; text-align:center;}
.address_home_wra h3{ font-size:22px; color:#333; margin:0; font-weight:500;}
.address_home_wra p{ color:#666; margin:8px 0 12px 0; font-size:18px; line-height:28px;}
.mob a, .mob a:focus{font-size:18px; color:#0093dd; font-weight:500;}
.mob a:hover{ color:#000;}
.white_bg{ background:#fff; border-radius:8px; padding:25px; margin:20px;}
.white_bg td{ padding:20px; width:33.3%;}
.white_bg2{ background:#fff; border-radius:8px; padding:45px;}
.address_tbl td{ padding:20px; width:50%;}

.faq_wra{max-width:700px; margin:0px auto;padding:60px 10px 80px 10px;}
.faq_wra h2{font-size:40px; color:#333; margin:0 0 20px 0; text-align:center;}
.faq_wra p{ font-size:17px; line-height:30px; color:#666;}
.ui-accordion-header span{ float:right; margin-top:2px;}

.footer_wra_outer{ background:url(../images/black.jpg);}
.footer_wra{max-width:1200px; margin:0px auto;padding:50px 10px 40px 10px;}
.footer_column{ width:33.3%; float:left;}
.footer_column h3{ font-size:25px; margin:0 0 15px 0; color:#ffbe00; font-weight:500;}
.footer_wra ul{ margin:0; padding:0; list-style:none;}
.footer_wra li{ padding: 0; font-size:19px; margin-bottom:8px;}
.footer_wra li:last-child{ border:none;}
.footer_wra a, .footer_wra a:focus{ color:#fff;}
.footer_wra a:hover{ color:#ffbe00;}
.social_media{ padding:0px 0 10px 0;}
.social_media i{ margin:0 5px;}
.social_media a, .social_media a:focus{ font-size:22px; margin:0 5px;}
.social_media a:hover{ color:#ffbe00;}
.mto{ width:150px;}

.footer_wra_outer2{ background:#ffbe00;}
.footer_wra2{max-width:1200px; margin:0px auto;padding:10px 10px;}
.copy{ float:left;}
.dd{ float:right;}
.dd a, .dd a:focus, .dd a:hover{ color:#000;}

.city_bg{ background:#000 url(../images/city_bg.jpg) center no-repeat; background-size:cover; width:100%; height:100%; }
.city_bg ul{ margin:0; padding:0; list-style:none; margin:0 auto; padding:10% 0; overflow:scroll; height:702px;}
.city_bg li{ font-size:35px; padding:15px 0; text-align:center; text-transform:uppercase;}
.city_bg a, .city_bg a:focus{ color:#fff; font-weight:700; text-shadow:0 0 5px #000;}
.city_bg a:hover{ color:#ffbe00;}

.about_wra{max-width:1200px; margin:0px auto;padding:50px 10px; text-align:justify;}
.about_wra h2{ font-size:45px; font-weight:500; margin:0 0 20px 0; text-align:center;}
.about_wra h3{ font-size:35px; font-weight:500; margin:55px 0 20px 0; padding-top:40px; text-align:center; border-top:1px solid #ccc;}
.about_wra h4{ font-size:22px; font-weight:500; margin:0px 0 -15px 0;}
.about_wra h5{ font-size:20px; font-weight:500; margin:0px 0 -15px 0;}
.about_wra p{ font-size:18px; line-height:30px; color:#666;}
.about_wra p a, .about_wra p a:focus{ color:#0093dd;}
.about_wra p a:hover{ color:#ffbc00;}
.img1{ margin:10px 35px 20px 0; float:left;}
.img2{ margin:10px 0px 20px 35px; float:right;}
.about_wra ul{ margin:0; padding:0 0 35px 0; list-style:none;}
.about_wra li{ padding:2px 0 2px 30px;color:#666;font-size:18px; line-height:30px; color:#666; position:relative;}
.about_wra li:before{content: "\f00c";font: normal normal normal 14px/1 FontAwesome; position:absolute; left:0; top:10px;}

.program_wra{max-width:1200px; margin:0px auto;padding:50px 0px}
.program_wra h2{ font-size:45px; font-weight:500; margin:0 0 20px 0; text-align:center;}
.program_wra td{ width:50%; padding:15px;}
.pro_box{ background:#ffbe00; color:#fff; padding:25px; font-size:30px; font-weight:500; text-shadow:0 0 3px #b68800; text-align:center;border-radius:8px;}
.program_txt{ padding:15px; color:#666; font-size:18px;}
.program_txt h4{ margin:20px 0 0 0; color:#333; font-size:20px;}
.program_txt ol{ margin:10px 0 10px 20px; padding:0;}
.program_txt li{ padding:3px 0;}
.program_txt h3{ margin:20px 0 0 0; color:#000; font-size:24px;}
.select_box{ background:url(../images/black.jpg); padding:25px; margin-top:10px; border-radius:8px;}
.select_box select{padding: 10px;font-size: 17px; margin:10px; border:none;border-radius: 4px;}
.select_box button{ background:#ffbe00; font-weight:500;padding:10px 20px;font-size: 17px; margin:10px; cursor:pointer;border:none;border-radius: 4px;}
.form_wra{ background:#ffbe00; padding:20px; margin-top:30px; border-radius:8px;}
.fld_box{ width:33.3%; float:left; padding:15px;}
.form_wra label{ display:block; font-size:18px; margin-bottom:3px; color:#000;}
.fld{ padding:10px 10px; font-size:18px; width:100%; border:none; border-radius:4px;}
.fld:focus{ outline:none;}
.sel{ padding:10px 10px; font-size:17px; width:100%; border:none; border-radius:4px;}
.sel:focus{ outline:none;}


.head1{ font-size:22px; font-weight:500; color:#000; margin:30px 0 10px 0;}
.regular{ font-size:22px;}
.regular span{ font-weight:500;}
.prom{ font-size:20px; padding:10px 0;}
.prom span{ font-weight:500;}
.pay_only{ font-size:25px; color:#000; margin-bottom:20px;}
.pay_only span{ font-weight:500;}
.pay_tbl{ border-collapse:collapse;}
.pay_tbl td{ border:1px solid #ccc; vertical-align:top;}
.pay_tbl td label{ display:block; font-size:17px; padding:3px 0;}
.total{ color:#000; font-size:22px; font-weight:500; text-align:right;}
.total_tbl td{ background:#ffbe00;}
.total_tbl{ color:#fff; font-size:22px; font-weight:500;}
.total_tbl td{ vertical-align:middle;}
.total_tbl tr td{ width:33.3%;}
.total_tbl tr td:last-child{ text-align:right;}
.total_tbl input[type="radio"] {-ms-transform: scale(1.2);-webkit-transform: scale(1.2);transform: scale(1.2);}

.btn_wra{ text-align:right; padding:15px;}
.btn_wra button{ background:#000; color:#fff; font-size:17px; font-weight:500; padding:10px 20px; border:none; border-radius:4px;}

.contact_wra{max-width:1200px; margin:0px auto;padding:50px 0px;}
.contact_wra h2{ font-size:45px; text-align:center; font-weight:500; margin:0 0 20px 0;}
.contact_row{ background:#f8f8f8; border:1px solid #ccc; margin:15px 0; padding:20px; border-radius:8px;}
.contact_row h3{font-size: 22px;color: #333;margin: 0;font-weight: 500;}
.contact_row p{color: #666; margin: 8px 0 12px 0;font-size: 18px;line-height: 28px;}
.time_tbl{ border-collapse:collapse;}
.time_tbl td{ border:1px solid #ccc; padding:5px 10px; color:#666;}
.contact_tbl tr td:first-child{ width:270px;}
.signup{ margin-top:15px;}
.signup a, .signup a:focus{ background:#000; color:#fff; font-size:18px; padding:10px 15px; display: inline-block; border-radius:4px; transition:all ease .3s;}
.signup a:hover{ background:#ffbe00; color:#fff;}
.time{ padding:0 25px;}
.time table{ background:#fff;}
.time h4{ font-size:20px; color:#000; font-weight:500; margin:15px 0 5px 0;}
.time td{ padding:15px;}
.scroll{ overflow-y:scroll;}

.job_wra{max-width: 1200px;margin: 0px auto;padding: 50px 10px;}
.job_wra h2{font-size: 45px;font-weight: 500;margin: 0 0 20px 0;text-align: center;}
.job_wra h3{font-size: 25px;font-weight: 500;margin:25px 0 -10px 0; border-bottom:2px solid #0091DA;}
.job_wra p {font-size: 18px;line-height: 30px;color: #666;}
.job_list{ margin:0; padding:0; list-style:none; font-size: 18px;line-height: 30px;color: #666;}
.job_list li{ position:relative;padding: 2px 0 2px 30px;}
.job_list li:before{ content: "\f00c";font: normal normal normal 14px/1 FontAwesome;position: absolute;left: 0;top: 10px;}
.job_list li a, .job_list li a:focus{ color:#0091DA;}
.apply a, .apply a:focus{ background:#0091DA; color:#fff; padding:10px 15px; display:inline-block; font-size:18px; border-radius:4px;}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 600px; border-radius:8px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.fld2{padding: 10px 10px;font-size: 18px;width: 100%;border: none; border:1px solid #ccc; margin-bottom:15px;border-radius: 4px;}
.sel2{padding: 10px;font-size: 17px; width:100%;border: none;border:1px solid #ccc;margin-bottom:15px;border-radius: 4px;}
@media (max-width: 767px) {
.header_wra { padding:10px 10px;position:relative;}
.call { margin:0 5px;}
.call, .call a, .call a:focus{ color:#fff;}

.menu_icon{ display:block; position:absolute; right:15px; top:30px; color:#0545a4;}
.nav_wra{  padding:0;}
.nav_wra ul{ background:#ffbf00;box-shadow:2px 2px 3px #666666; width:290px; padding:10px 0;text-align:left;position:absolute; z-index:10; left:-100%; top:0px; opacity:0; transition:all ease .5s;}

.logo img{ height:35px;}
.sticky .logo img{ height:35px; margin:0;}
.menu_show_hide{ left:0px !important; opacity:1.0 !important;}
.nav_wra li{ display:block;}
.nav_wra li a, .nav_wra li a:focus{ padding:12px 15px; display:block; color:#fff;}
.sticky .nav_wra li a, .sticky .nav_wra li a:focus {padding: 12px 15px;}
.nav_wra li a.active {color: #846300;}
.nav_wra li:hover ul{ display:none;}
.nav_wra li ul {background: #ffa800;position: inherit; top:0;}

.header_right{ text-shadow:none; padding:0;}


.banner_home{ }

.ready_wra td{width:100%; display:block;}
.package_home_wra td{width:100%; display:block;}
.book{ margin:15px 0 30px 0;}
.white_bg td{width:100%; display:block;}
.address_tbl td{width:100%; display:block;}

.logo{}
.logo img{ height:60px;}
.menu_show_hide{right:-10px !important; opacity:1.0 !important;}
.nav_wra li{ display:block;}
.nav_wra li a, .nav_wra li a:focus{ padding:12px 15px;}
.call_box h3{ font-size:32px;}
.call_box p{font-size: 18px;margin: 0px 0 0px 0;}

.call_box{ font-size:13px; padding:20px 10px;}
.copy, .dd{ width:100%; float:none; text-align:center;}
.pro_box{ padding:17px;}


.content_wra{ padding:40px 15px;}
.city_bg li{ font-size:30px; padding:6px 0;}
.img1, .img2{ width:300px;}
.total_tbl tr td{ width:100%; display:block; text-align:right;}
.pay_tbl td{ width:100%; display:block;}
.select_box{ padding:25px 5px;}
}


@media (max-width: 1150px) {

}
@media (max-width: 500px) {
.header_top{text-align:center;}
.virtual{ display:block; margin:0;}
.call_box{ padding:10px 10px 5px 10px;}
}
@media (max-width: 1030px) {

}
@media (max-width: 850px) {
.check_box{ width:33.3%;}
.fld_box{ width:50%;}
}
@media (max-width: 600px) {
.call_box{ width:100%; text-align:center;}
.call_box table{ width:auto; margin:0 auto;}
.footer_column{ width:100%; display:block;}
.img1, .img2{ width:100% !important;}

.fld_box{ width:100%;}
.form_wra{ padding:20px 0;}
.program_wra td{ width:100%; display:block;}
}
@media (max-width: 400px) {

}