@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;400;500;700&display=swap');
*{ box-sizing:border-box;}
a, a:hover{ text-decoration:none;}
.clear{ clear:both;}
.img-res{ max-width:100%;}
body{font-family: 'Yantramanav', sans-serif; font-weight:400; font-size:16px; margin:0; padding:0; background:#ddfff0;}
html{ height:100%;}

.header_top_wra{ background:#34986c; }
.header_top{ max-width:1200px; margin:0 auto;padding:5px 10px; text-align:right; font-size:18px;}

.beginner{ float:left; text-align:left; color:#fff;}
.city_wra{ float:right; height:70px; line-height:70px; background:#fff; color:#666; padding:0 5px 0 10px; font-size:18px; margin-left:10px; border:1px solid #ccc; border-radius:10px;}
.city_wra select{ border:none; font-size:16px; width:200px;}
.city_wra i{ font-size:25px;}
.city_wra select:focus{ outline:none;}
.mto_head{ float:right;}
.mto_head img{ height:70px;}
.call_mob{ float:right; display:none;}
.call_mob a, .call_mob a:focus{ background:#34986c; color:#fff; padding:5px 10px; display:inline-block; border-radius:4px;}

.header_outer{}
.header_wra{ padding:25px 10px;max-width:1200px; margin:0 auto; transition:all ease .5s;z-index: 10;position: inherit;}
.logo{ float:left;}
.logo img{ height:100px;}
.header_right{ float:right; text-align:right;padding-top:20px;}
.call{ float:right;margin:0 5px; color:#fff;}
.call i{ margin-right:3px;}
.call .fa-mobile{ font-size:20px; vertical-align:middle;}
.call a, .call a:focus{ background:#fff; color:#000; padding:5px 12px; display:inline-block; border-radius:4px;}
.call a:hover{ background:#fff; color:#000;}

.virtual{ float:right; margin-right:15px; color: #fff;}
.virtual a, .virtual a:focus{ color:#fff;}
.virtual a:hover{ color:#fff; text-decoration:underline;}
.floating{ background:#fff; position:fixed; left:0; bottom:0; z-index:10000; width:100%; padding:8px 10px; display:none; box-shadow:0 0 5px #333;}
.city_wra_mob{ float:left; padding:5px 10px; border:1px solid #ccc; border-radius:4px;}
.city_wra_mob select{ border:none;}
.city_wra_mob select:focus { outline:none;}

.nav_wra{ background:#34986c;padding:5px 10px; text-align:center;}
.nav_wra ul{ margin:0; padding:0; list-style:none;}
.nav_wra li{ display:inline-block; font-size:19px;font-weight:500; text-transform:uppercase;position:relative;}
.nav_wra li a, .nav_wra li a:focus{  padding:12px 15px; display:inline-block;color:#fff;}
.nav_wra li a:hover{ color:#074529; }
.nav_wra li a.active{color:#074529;}

.nav_wra li ul{ position:absolute; z-index:10; top:42px; right:15px; padding:5px 0; background:#34986c; display:none; box-shadow:0 1px 2px #ccc; transition:all ease .5s;}
.nav_wra li ul li{ display:block;}
.nav_wra li ul a, .nav_wra li ul a:focus{ font-size:18px; padding:10px 15px; display:block; white-space:nowrap;}
.nav_wra li:hover ul{ display:block; transition:all ease .5s;}
.show{ display:block !important;}

.menu_icon{ display:none;}

.banner_home{margin-bottom:-6px; }

.location_btn{max-width:1200px; margin:0 auto; padding:30px 10px; font-size:20px; font-weight:500;}
.location_btn a, .location_btn a:focus{background: rgb(54,205,138);background: linear-gradient(0deg, rgba(36,138,93,1) 0%, rgba(54,205,138,1) 100%); color:#fff; padding:5px 20px; display:inline-block; font-size:18px; font-weight:400;text-shadow: 0 1px 0px #000f09; border-radius:0 22px;box-shadow: -2px 2px 1px #0f0f0f; margin-bottom: 5px;}
.location_btn a:hover, .location_btn a.selected{background: #fcc205;
  background: linear-gradient(0deg, #fcc205 0%, #eed37c 100%); color:#000; padding:5px 20px; display:inline-block; font-size:18px; font-weight:400;text-shadow: 0 0px 0px #000f09; border-radius:0 22px;box-shadow: -2px 2px 1px #0f0f0f; margin-bottom: 5px;}

.call_row_wra{ background:url(../images/black.jpg);}
.call_row{max-width:1200px; margin:0 auto; padding:0; color:#fff;}
.call_box{ padding:45px 10px;}
.call_box a, .call_box a:focus, .call_box a:hover{ color:#fff;}
.call_box h3{ font-size:45px; font-weight:500; margin:0 0 0px 0;}
.call_box p{ font-size:22px; font-weight:400; margin:10px 0 0px 0;}
.call_box tr td:first-child{ font-size:30px; vertical-align:top; width:70px;}
.call_box tr td{ line-height:32px;}
.dark{ background:#00000054;}
.light{ background:#cccccc14;}

.gift_wra{ width:100%; text-align:center; padding:20px 0}
.call_right{ width:30%; float:right;}
.gift_wra h2{ font-size:32px; font-weight:500; margin:0 0 5px 0;}
.gift_wra p{ margin:0; font-size:20px;}
.buy{background:#fec400; color:#000; padding:10px 25px; display:inline-block; font-size:18px; font-weight:500; margin-top:5px; border-radius:4px;}

.ready_wra{ max-width:1200px; margin:0 auto; padding:60px 10px;}
.ready_wra td{ width:50%;}
.ready_wra tr td:first-child{ padding-right:30px;}
.ready_wra h2{ font-size:40px; margin:0 0 20px 0;}
.ready_wra p{ font-size:18px; line-height:30px; color:#666;}
.ready_wra a, .ready_wra a:focus{ background:#34986c; color:#fff; font-size:20px; padding:10px 25px; display:inline-block; border-radius:4px;}
.ready_wra a:hover{ background:#21724e; color:#fff;}

.number_outer{background:url(../images/black.jpg);}
.number_wra{max-width:1200px; margin:0px auto;padding:30px 10px; color:#fff; text-align:center;}
.number_wra h2{ font-size:38px; margin:0;}
.number_wra h4{ font-size:21px; margin:0; font-weight:400;}
.number_wra p{ font-size:32px; font-weight:600;color:#2dde90; margin:10px 0 0 0;}
.number_wra span{ color:#2dde90;}

.package_home_wra{max-width:1200px; margin:0px auto;padding:60px 0px 80px 0px;}
.package_home_wra h2{ font-size:42px; color:#000; text-align:center; margin:0 0 30px 0; text-transform:uppercase;}
.package_home_wra h3{ color:#383838; font-size:25px; font-weight:500; margin:10px 0;}
.package_home_wra h4{ color:#34986c; font-size:24px;  margin:0px 0;}
.package_home_wra h4 span{color:#8d8d8d;font-size:20px; font-weight:400;}
.package_home_wra td{ width:50%; padding:0 15px; vertical-align:top; text-align:center;}
.book{ background:#34986c; color:#fff;font-size:20px; padding:8px 25px; display:inline-block; margin-top:30px; border-radius:4px;}

.testimonial_wra{ background:#000 url(../images/testimonial_bg.jpg) center; background-size:cover;padding:60px 15px; color:#fff; text-align:center;}
.testimonial{max-width:900px; margin:0 auto;}
.testimonial_wra h2{font-size:45px;  margin:0 0 30px 0; color:#fff;}
.star{ display:block; color:#ffbe00; font-size:16px; padding:10px 0;}
.testimonial li{ font-size:19px; line-height:30px; font-weight:300;}
.testimonial li span{ display:block; margin-top:40px; color:#2dde90; font-weight:400;}

.address_home_outer{ background:#34986c;}
.address_home_wra{max-width:1200px; margin:0px auto;padding:60px 0px 80px 0px;}
.address_home_wra h2{ font-size:40px; color:#fff; margin:0 0 20px 0; text-align:center;}
.address_home_wra h3{ font-size:22px; color:#333; margin:0; font-weight:500;}
.address_home_wra p{ color:#666; margin:8px 0 12px 0; font-size:18px; line-height:28px;}
.mob a, .mob a:focus{font-size:18px; color:#34986c; font-weight:500;}
.mob a:hover{ color:#000;}
.white_bg{ background:#fff; border-radius:8px; padding:25px; margin:20px;}
.white_bg td{ padding:20px; width:33.3%;}
.white_bg2{ background:#fff; border-radius:8px; padding:45px;}
.address_tbl td{ padding:20px; width:33.33%;}

.faq_wra{max-width:700px; margin:0px auto;padding:60px 10px 80px 10px;}
.faq_wra h2{font-size:40px; color:#000; margin:0 0 20px 0; text-align:center;}
.faq_wra p{ font-size:17px; line-height:30px; color:#666;}
.ui-accordion-header span{ float:right; margin-top:2px;}

.footer_wra_outer{ background:url(../images/black.jpg);}
.footer_wra{max-width:1200px; margin:0px auto;padding:50px 10px 40px 10px;}
.footer_column{ width:33.3%; float:left;}
.footer_column h3{ font-size:25px; margin:0 0 15px 0; color:#2dde90; font-weight:500;}
.footer_wra ul{ margin:0; padding:0; list-style:none;}
.footer_wra li{ padding: 0; font-size:19px; margin-bottom:8px;}
.footer_wra li:last-child{ border:none;}
.footer_wra a, .footer_wra a:focus{ color:#fff;}
.footer_wra a:hover{ color:#ffbe00;}
.social_media{ padding:0px 0 10px 0;}
.social_media i{ margin:0 5px;}
.social_media a, .social_media a:focus{ font-size:22px; margin:0 5px;}
.social_media a:hover{ color:#ffbe00;}
.mto{ width:150px;}

.footer_wra_outer2{ background:#000;}
.footer_wra2{max-width:1200px; margin:0px auto;padding:10px 10px;}
.copy{ float:left; color:#fff;}
.dd{ float:right;}
.dd a, .dd a:focus, .dd a:hover{ color:#fff;}
.logo2{ height:80px;}

.city_bg{ background:#000 url(../images/city_bg.jpg) center no-repeat; background-size:cover; width:100%; height:100%; }
.city_bg ul{ margin:0; padding:0; list-style:none; margin:0 auto; padding:10% 0; overflow:scroll; height:702px;}
.city_bg li{ font-size:35px; padding:15px 0; text-align:center; text-transform:uppercase;}
.city_bg a, .city_bg a:focus{ color:#fff; font-weight:700; text-shadow:0 0 5px #000;}
.city_bg a:hover{ color:#ffbe00;}

.about_wra{max-width:1200px; margin:0px auto;padding:50px 10px; text-align:justify;}
.about_wra h2{ font-size:45px; font-weight:500; margin:0 0 20px 0; text-align:center;}
.about_wra h3{ font-size:35px; font-weight:500; margin:55px 0 20px 0; padding-top:40px; text-align:center; border-top:1px solid #ccc;}
.about_wra h4{ font-size:22px; font-weight:500; margin:0px 0 -15px 0;}
.about_wra h5{ font-size:20px; font-weight:500; margin:0px 0 -15px 0;}
.about_wra p{ font-size:18px; line-height:30px; color:#666;}
.about_wra p a, .about_wra p a:focus{ color:#0093dd;}
.about_wra p a:hover{ color:#ffbc00;}
.img1{ margin:10px 35px 20px 0; float:left;}
.img2{ margin:10px 0px 20px 35px; float:right;}
.about_wra ul{ margin:0; padding:0 0 35px 0; list-style:none;}
.about_wra li{ padding:2px 0 2px 30px;color:#666;font-size:18px; line-height:30px; color:#666; position:relative;}
.about_wra li:before{content: "\f00c";font: normal normal normal 14px/1 FontAwesome; position:absolute; left:0; top:10px;}

.step2, .step3 { display: none;}
.step3 { text-align: center; }

.program_wra{max-width:1200px; margin:0px auto;padding:50px 0px}
.program_wra h2{ font-size:24px; font-weight:700; margin:0 0 20px 0; text-align:center;}
.program_wra td{ width:50%; padding:15px;}
.pro_box a{ display:inline-block; background:#ffbe00; color:#fff; padding:25px; font-size:30px; font-weight:500; text-shadow:0 0 3px #b68800; text-align:center;border-radius:8px; }
.pro_box a.act, .pro_box a:hover{ background:#00BCD4; }
.program_txt{ padding:15px; color:#666; font-size:18px;}
.program_txt h4{ margin:30px 0 5px 0; color:#333; font-size:20px;}
.program_txt ol{ margin:10px 0 10px 20px; padding:0;}
.program_txt li{ padding:3px 0;}
.program_txt h3{ margin:20px 0 0 0; color:#0093dd; font-size:24px; border-bottom:1px solid #0093dd;}
.select_box{ background:url(../images/black.jpg); padding:25px; margin-top:10px; border-radius:8px;}
.select_box select{padding: 10px;font-size: 17px; margin:10px; border:none;border-radius: 4px;}
.select_box button{ background:#ffbe00; font-weight:500;padding:10px 20px;font-size: 17px; margin:10px; cursor:pointer;border:none;border-radius: 4px;}
.form_wra{ background:#ffbe00; padding:20px; margin-top:30px; border-radius:8px;}
.fld_box{ width:33.3%; float:left; padding:15px;}
.form_wra label{ display:block; font-size:18px; margin-bottom:3px; color:#000;}
.fld{ padding:10px 10px; font-size:18px; width:100%; border:none; border-radius:4px;}
.fld:focus{ outline:none;}
.sel{ padding:10px 10px; font-size:17px; width:100%; border:none; border-radius:4px;}
.sel:focus{ outline:none;}

.sel3{ padding:10px 10px; font-size:17px; width:48%; border:none; border-radius:4px;}
.sel3:focus{ outline:none;}

.hide { display: none;}
.kbw-signature { width: 100%; height: 100px;}
#sig canvas{ width: 100% !important; height: auto; }
/******Added By Ashutosh****/
.fld_row { padding:15px; }
.fld_row .fld_col { display: inline-block; width: 16%;}
.alert-danger { list-style: none; padding: 15px; margin: 15px;color: #f00;background: #fff;border-radius: 4px; }
.loading:after {content: ' .'; animation: dots 1s steps(5, end) infinite;}
.payment_wra {background: #2196F3;padding: 100px;text-align: center;color: #fff;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;
    }
}
/******End Added By Ashutosh****/

.form_wra h5 {margin:15px 0 0px 15px; color:#000; font-size:21px;}

.btn_row{ padding:30px 0 0 0; text-align:center;}
.nxt{ background:#0093dd; color:#fff; font-size:17px; padding:10px 20px; display:inline-block; border:none; border-radius:4px; cursor:pointer;}
.nxt i{ margin-left:5px;}
.back{ background:#ccc; color:#000;font-size:17px; padding:10px 20px; display:inline-block;border:none; border-radius:4px;cursor:pointer;}
.back i{ margin-right:5px;}
.back_row{ margin:5px 0;}

.btn{ background:#34986c; color:#fff;font-size:17px; padding:10px 20px; display:inline-block;border:none; border-radius:4px;cursor:pointer;}
.btn i{ margin-right:5px;}

.program_type_wra{max-width:1200px; margin:0px auto;padding:50px 0px}
.type_tbl td{ width:33.3%; padding:15px;}
.type_box{ background:#fff; border:#ccc; padding:20px; border-radius:10px; box-shadow:2px 2px 3px #8ccaaf; overflow:hidden; cursor:pointer; position:relative;}
.type_box h3{ font-size:22px; margin:10px 0 0px 0;}
.type_box_hover{ position:absolute; left:0; right:0; top:0; bottom:0; background:#025732c2; font-size:65px; vertical-align:middle; transition:all ease .5s; opacity:0;}
.type_box_hover i{ position:absolute; left:50%; top:50%; margin-top:-28px; margin-left:-33px; z-index:10; color:#fff;}
.type_box:hover .type_box_hover, .type_act{ opacity:1;} 

.day_tbl{ border-collapse:collapse;} 
.day_tbl th{ background:#666; color:#fff; text-align:left; padding:12px 10px;border:1px solid #ccc;}
.day_tbl td{width:30%; padding:15px 10px;border:1px solid #ccc;}
.day_tbl tr td:first-child{ width:10%;}
.day_tbl tr:hover{ background:#fafafa; cursor:pointer;}

.selected{ padding:25px 0 0 0; color:#0093dd;}
.selected strong{ display:block; color:#333; margin-bottom:5px}

.head1{ font-size:22px; font-weight:500; color:#000; margin:30px 0 10px 0;}
.regular{ font-size:22px;}
.regular span{ font-weight:500;}
.prom{ font-size:20px; padding:10px 0; color:#0093dd;}
.prom span{ font-weight:500;}
.pay_only{ font-size:25px; color:#000; margin-bottom:20px;}
.pay_only span{ font-weight:500;}
.pay_tbl{ border-collapse:collapse;}
.pay_tbl td{ border:1px solid #ccc; vertical-align:top;}
.pay_tbl td label{ display:block; font-size:17px; padding:3px 0;}
.total{ color:#000; font-size:22px; font-weight:500; text-align:right;}
.total_tbl td{ background:#ffbe00;}
.total_tbl{ color:#fff; font-size:22px; font-weight:500;}
.total_tbl td{ vertical-align:middle;}
.total_tbl tr td{ width:33.3%;}
.total_tbl tr td:last-child{ text-align:right;}
.total_tbl input[type="radio"] {-ms-transform: scale(1.2);-webkit-transform: scale(1.2);transform: scale(1.2);}

.pay_tbl2{ border-collapse:collapse;}
.pay_tbl2 td{ border:0px solid #ccc; vertical-align:top;}
.pay_tbl2 td label{ display:block; font-size:17px; padding:3px 0;}

.pay_tbl2 .fld_box { width: 50%; }
.pay_tbl2 .total { padding: 50px 0; line-height: 2em;}


.btn_wra{ text-align:right; padding:15px;}
.btn_wra button{ background:#000; color:#fff; font-size:17px; font-weight:500; padding:10px 20px; border:none; border-radius:4px;}

.contact_wra{max-width:1200px; margin:0px auto;padding:50px 0px;}
.contact_wra h2{ font-size:45px; text-align:center; font-weight:500; margin:0 0 20px 0;}
.contact_row{ background:#f8f8f8; border:1px solid #ccc; margin:15px 0; padding:20px; border-radius:8px;}
.contact_row h3{font-size: 22px;color: #333;margin: 0;font-weight: 500;}
.contact_row p{color: #666; margin: 8px 0 12px 0;font-size: 18px;line-height: 28px;}
.time_tbl{ border-collapse:collapse;}
.time_tbl td{ border:1px solid #ccc; padding:5px 10px; color:#666;}
.contact_tbl tr td:first-child{ width:270px;}
.signup{ margin-top:15px;}
.signup a, .signup a:focus{ background:#000; color:#fff; font-size:18px; padding:10px 15px; display: inline-block; border-radius:4px; transition:all ease .3s;}
.signup a:hover{ background:#ffbe00; color:#fff;}
.time{ padding:0 25px;}
.time table{ background:#fff;}
.time h4{ font-size:20px; color:#000; font-weight:500; margin:15px 0 5px 0;}
.time td{ padding:15px;}
.scroll{ overflow-y:scroll;}

.job_wra{max-width: 1200px;margin: 0px auto;padding: 50px 10px;}
.job_wra h2{font-size: 45px;font-weight: 500;margin: 0 0 20px 0;text-align: center;}
.job_wra h3{font-size: 25px;font-weight: 500;margin:25px 0 -10px 0; border-bottom:2px solid #0091DA;}
.job_wra p {font-size: 18px;line-height: 30px;color: #666;}
.job_list{ margin:0; padding:0; list-style:none; font-size: 18px;line-height: 30px;color: #666;}
.job_list li{ position:relative;padding: 2px 0 2px 30px;}
.job_list li:before{ content: "\f00c";font: normal normal normal 14px/1 FontAwesome;position: absolute;left: 0;top: 10px;}
.job_list li a, .job_list li a:focus{ color:#0091DA;}
.apply a, .apply a:focus{ background:#0091DA; color:#fff; padding:10px 15px; display:inline-block; font-size:18px; border-radius:4px;}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 600px; border-radius:8px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.fld2{padding: 10px 10px;font-size: 16px; width: 100%;border: none; border:1px solid #ccc; margin-bottom:15px;border-radius: 4px;}
.sel2{padding: 10px;font-size: 17px; width:100%;border: none;border:1px solid #ccc;margin-bottom:15px;border-radius: 4px;}
.desk { display: block;}
.desk2 { display: inl ine-block;}
.mob { display: none;}
.ui-accordion .ui-accordion-content {  height: auto !important; }

[class*="slideshow"] {
  height:310px;
  margin: 0 auto 40px;
  outline: none;
}

.example-1 { height: 500px; margin: 0 auto;}
.tblbl td:first-child { width: 70%; }

[class*="slideshow"] img {
  display:none;
}
@media (max-width: 850px) {
.check_box{ width:33.3%;}
.fld_box{ width:50%;}
[class*="slideshow"] { height:200px;}
}
@media (max-width: 767px) {
.ui-accordion .ui-accordion-content {  height: auto !important; }
.tblbl td{ width: 100% !important; display: block; }
.tblbl .fld_box { width: 100% !important;}
.call_box tr td{ line-height:20px;}
.call_box tr td:first-child{ width:40px;}
.call_box tr td:first-child img{ width:30px;}
.location_btn{ text-align:center;}
.location_btn span{ display:block; padding-bottom:10px;}
.location_btn a, .location_btn a:focus{ margin-bottom:5px;}
.mto_head { margin-top:20px;}
.floating{ display:block;}
.city_wra{ display:none;}
.beginner{ padding:0; text-align:center; display:block; float:none;}
.virtual{ margin:0; text-align:center; display:block;float:none;}
.header_top{ padding:5px 10px;font-size:17px;line-height:18px;}
.mto_head img { height:38px;}
.footer_wra_outer2 { margin-bottom:48px;}
	
.header_wra { padding:10px 10px;position:relative;}
.call { display:none;}
.call_mob{ display:block;}

.menu_icon{ display:block; position:absolute; right:15px; top:-60px; color:#34986c; z-index:10;}
.nav_wra{  padding:0; position:relative;}
.nav_wra ul{ background:#4ec28f;box-shadow:2px 2px 3px #666666; width:290px; padding:10px 0;text-align:left;position:absolute; z-index:10; left:-100%; top:-95px; opacity:0; transition:all ease .5s;}

.logo img{ height:35px;}
.sticky .logo img{ height:35px; margin:0;}
.menu_show_hide{ left:0px !important; opacity:1.0 !important;}
.nav_wra li{ display:block;}
.nav_wra li a, .nav_wra li a:focus{ padding:12px 15px; display:block; color:#fff;}
.sticky .nav_wra li a, .sticky .nav_wra li a:focus {padding: 12px 15px;}
.nav_wra li a.active {color:#105f3c;}
.nav_wra li:hover ul{ display:none;}
.nav_wra li ul {background: #34986c;position: inherit; top:0;}

.header_right{ text-shadow:none; padding:0 50px 0 0;}


.banner_home{ }

.ready_wra td{width:100%; display:block;}
.package_home_wra td{width:100%; display:block;}
.book{ margin:15px 0 30px 0;}
.white_bg td{width:100%; display:block;}
.address_tbl td{width:100%; display:block;}

.logo{}
.logo img{ height:70px;}
.menu_show_hide{right:-10px !important; opacity:1.0 !important;}
.nav_wra li{ display:block;}
.nav_wra li a, .nav_wra li a:focus{ padding:12px 15px;}
.call_box h3{ font-size:25px; margin-bottom:8px;}
.call_box p{font-size:17px;margin: 0px 0 0px 0;}

.call_box{ font-size:13px; padding:20px 10px;}
.copy, .dd{ width:100%; float:none; text-align:center;}
.pro_box{ padding:17px;}

.content_wra{ padding:40px 15px;}
.city_bg li{ font-size:30px; padding:6px 0;}
.img1, .img2{ width:300px;}
.total_tbl tr td{ width:100%; display:block; text-align:right;}
.pay_tbl td{ width:100%; display:block;}
.select_box{ padding:25px 5px;}

[class*="slideshow"] { height:400px}
.ready_wra tr td:first-child{ padding-right:0;}
}


@media (max-width: 1150px) {

}
@media (max-width: 600px) {
.call_box table{ width:100%; margin:0 auto;}
.footer_column{ width:100%; display:block;}
.img1, .img2{ width:100% !important;}
.package_home_wra {  padding: 30px 0px 0px 0px;}
.testimonial_wra h2 { font-size: 37px; }
.fld_box{ width:100%;}
.form_wra{ padding:20px 0;}
.program_wra td{ width:100%;}
.fld_row .fld_col {width: 49%;}
.block { display: block;}
.head1 { margin: 10px 0 10px 10px;}

[class*="slideshow"] { height:300px}
.modal {z-index: 11;padding-top: 20px;}
.modal-content {width: auto;}
.desk { display: none;}
.mob { display: block;}
}
@media (max-width: 500px) {
.header_top{text-align:center;}
.virtual{ display:block; margin:0;}
.call_box{ padding: 22px 10px 5px 10px;height: 105px;}
[class*="slideshow"] { height:250px}
.call_box tr td:first-child{ width:33px;}
}
@media (max-width: 1030px) {

}


@media (max-width: 400px) {
[class*="slideshow"] { height:120px}
}