.reservation_wra{ padding:50px 0;}
.pay_step{ background:#ccc; height:5px; width:300px; margin:0 auto;}
.pay_progress{ background: linear-gradient(to right, #2e9a0e 50%, #ccc 50%);height:5px;}
.pay_step_box{ width:50%; float:left; text-align:center;font-weight:600; margin-top:-10px;}
.pay_step_box span{width:25px; height:25px; border-radius:50%;background:#ccc; color:#333; display:inline-block;  padding-top:2px;}
.pay_step_box.act{ color:#2e9a0e;}
.pay_step_box.act span{ background:#2e9a0e; color:#fff;}

.pay_head1{ text-align:center; font-weight:800; font-size:28px; text-transform:uppercase; color:#333;margin: 0 0 20px 0;}
.pay_form_head{ color:#337ab7; margin:30px 0 15px 0; font-size:20px; font-weight:600;}
.pay_form_head span{ font-size:13px; font-weight:normal; color:#666;}
.addon_price{ color:#337ab7;}
.pay_adult{ width:150px !important;}
.pay_adult input{ text-align:center;}
.pickup_location{ width:80%; padding:0 10px; margin-bottom:15px; border:1px solid #ccc; height:40px; line-height:40px; border-radius:4px;}
.t_tip{position: absolute;left: 101%;top: -6px;width: 16px;height: 16px;font-weight: normal;font-size: 12px;display: inline-block;border-radius: 50%; background: #333;color: #fff;text-align: center; }
.pay_lable { position:relative; margin:10px 0 8px 0;}
.pay_lable2{ display:block; margin:5px 0 10px 0;}
.tooltip.bottom{ width:90%;}

.pay_btn{ text-align:center; margin:20px 0; }
.pay_continue{ background:#00960e; color:#fff; font-size:35px; font-weight:800; padding:8px 50px; display:inline-block; border:none; border-radius:4px;text-shadow: 0 1px 1px #333;transition:all ease .5s;}
.pay_continue:hover{ background:#fc0; color:#000;text-shadow: 0 1px 1px #fff;}
.t_tip_txt{ display:none;}


.checkout_wra{ margin:40px 0 0 0; border-bottom:1px solid #ccc;}
.pay_tour_img{}
.pay_tour_title{ margin:-5px 0 10px 0; font-size:20px; font-weight:600;}
.pay_tour_title a, .pay_tour_title a:focus{ color:#337ab7;}
.pay_tour_title a:hover{ color:#2e9a0e;}
.pay_name{ font-size:15px; margin:0 0 10px 0; font-weight:600;}
.pay_detail_tbl{ margin:15px 0; border:none; color:#666;}
.pay_detail_tbl td{border:none; padding:5px 0;}
.pay_modify{ padding:0 0 15px 0; text-align:right;}
.pay_modify a, .pay_modify a:focus{ color:#337ab7; font-size:13px; font-weight:600; text-decoration:underline !important;}
.pay_modify a:hover{ color:#2e9a0e;}
.pay_price_tbl{ border:none; margin-bottom:30px;}
.pay_price_tbl td{ border:none; padding:3px 2px;}
.pay_price_tbl tr td:first-child{ width:75%;}
.pay_price_tbl tr td:last-child{ width:25%;}


.pay_card_wra{ padding:35px 0 0 0;}
.pay_head2{ margin:0 0 10px 0; font-size:20px; font-weight:700;}
.card_number{ border:1px solid #ccc; width:100%; display:inline-block; background:url(../images/mastercard.png) right 5px center no-repeat; height:35px; line-height:35px; padding:0 50px 0 10px; border-radius:4px;}
.card_secu{ border:1px solid #ccc; width:100%;display:inline-block;height:35px; line-height:35px; padding:0 10px;border-radius:4px;}
.card_mnth{ border:1px solid #ccc; width:35%;display:inline-block;height:35px; line-height:35px; padding:0 10px;border-radius:4px;}
.card_zip{border:1px solid #ccc; width:100%;display:inline-block;height:35px; line-height:35px; padding:0 10px;border-radius:4px;}
.card_tbl{ border:none;}
.card_tbl td{ padding:5px;border:none;}
.card_tbl tr td:first-child{ width:70%;}
.card_tbl tr td:last-child{ width:30%;}
.pay_total{ border:none;}
.pay_total td{ padding:10px;font-weight:600; border:none;}
.pay_total tr td:first-child{ width:73%;}
.pay_total tr:first-child{ font-size:18px;  color:#333;}
.pay_total tr:nth-child(2){ font-size:16px; color:#666;}
.pay_total tr:nth-child(3){ font-size:23px;  color:#2e9a0e;}

.pay_row_wra{background: linear-gradient(to right, #ccc 50%, #2e9a0e 50%);}
.pay_back_btn{ height:100px; line-height:100px; font-size:18px; font-weight:600;}
.pay_back_btn a, .pay_back_btn a:focus{ color:#333; margin-right:20px;}
.pay_back_btn a:hover{ color:#333; text-decoration:underline !important;}
.pay_btn_final{ font-size:30px; font-weight:600;}
.pay_btn_final button{ width:100%;height:100px; line-height:100px; display:block; text-align:center; background:#2e9a0e;color:#fff; border:none;}
.pay_btn_final button:hover{ color:#fc0;}
@media (max-width: 767px) {
.reservation_wra { padding:30px 0;}
.pay_head1{ font-size:24px;}
.pay_form_head{ margin:20px 0 5px 0;}
.pickup_location{ width:100%; margin-bottom:10px;}
.t_tip{ display:none;}
.t_tip_txt{ display:block;display: block;line-height: 23px;color: #666;margin-top: -8px; margin-bottom:8px;}

.checkout_wra{ margin:25px 0 0 0;}
.pay_tour_title { margin: 10px 0 10px 0;}
.pay_price_tbl{ margin-bottom:20px;}
.pay_total tr td:first-child{ width:50%;}
.pay_card_wra { padding-top:22px;}
.pay_row_wra{ background:none;}
.pay_btn_final a, .pay_btn_final a:focus{ background:#2e9a0e; color:#fff;}

.pay_back_btn { height:60px; line-height:60px;}
.pay_btn_final a, .pay_btn_final a:focus{ height:60px; line-height:60px;}
.pay_total{ margin-bottom:20px;}
.pay_btn_final{ margin:0 -15px;}
.card_tbl{ margin-bottom:-25px;}
}

